# Виртуальное окружение
venv/
ENV/
env/

# Python файлы
*.pyc
__pycache__/

# База данных
db.sqlite3

# Настройки VS Code
.vscode/

# Статические файлы (если они будут собираться отдельно)
/staticfiles/